[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "==0.1.0"
attrs = "==19.3.0"
backcall = "==0.1.0"
bleach = "==3.1.4"
decorator = "==4.4.2"
defusedxml = "==0.6.0"
entrypoints = "==0.3"
ipykernel = "==5.2.0"
ipython = "==7.13.0"
jedi = "==0.16.0"
json5 = "==0.9.4"
jsonschema = "==3.2.0"
jupyter-client = "==6.1.2"
jupyter-core = "==4.6.3"
jupyterlab = "==2.0.1"
jupyterlab-server = "==1.0.7"
kiwisolver = "==1.2.0"
matplotlib = "==3.2.1"
mistune = "==0.8.4"
nbconvert = "==5.6.1"
nbexec = "==0.1.0"
nbformat = "==5.0.5"
notebook = "==6.0.3"
numpy = "==1.18.2"
pandas = "==1.0.3"
pandocfilters = "==1.4.2"
parso = "==0.6.2"
patsy = "==0.5.1"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.5"
ptyprocess = "==0.6.0"
pyparsing = "==2.4.6"
pyrsistent = "==0.16.0"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
pyzmq = "==19.0.0"
scipy = "==1.4.1"
seaborn = "==0.10.0"
six = "==1.14.0"
statsmodels = "==0.11.1"
terminado = "==0.8.3"
testpath = "==0.4.4"
tornado = "==6.0.4"
traitlets = "==4.3.3"
wcwidth = "==0.1.9"
webencodings = "==0.5.1"
Cycler = "==0.10.0"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.11.1"
MarkupSafe = "==1.1.1"
prometheus_client = "==0.7.1"
Pygments = "==2.6.1"
Send2Trash = "==1.5.0"
geopandas = "*"
descartes = "*"
xlrd = "*"
requests = "*"
lxml = "*"
rtree = "*"
pdfplumber = "*"
sodapy = "*"
esridump = "*"

[requires]
python_version = "3.8"
